.App {
  /* text-align: center; */
  padding: 30px;
}

.colorpicker-row {
  display: flex;
}

.colorpicker {
  margin-bottom: 300px;
}

.colorpicker:not(:last-child) {
  margin-right: 20px;
}

.colorpicker-button {
  width: 220px;
  /* margin-bottom: 20px; */
}

.colorpicker-container {
  position: absolute;
}

.box {
  height: 50px;
  width: 50px;
}

.box-input {
  height: 15px;
  margin-right: 20px;
}

.boxTable {
  overflow-x: auto;
  /* overflow-x: scroll; */
}